.Footer-content {
  position: fixed;
  width: 100%;
  height: 63px;
  text-align: center;
  color: #fff;
}

.footer {
  background-color: #242424;
  height: 53px;
  width: 100%;
}

.footer-lock {
  height: 10px;
  cursor: pointer;
  width: 100%;
}